@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
:root {
  --mainColor: #152638;
  --secondaryColor: #eee;
  --bgColor: #1e3042;
  --hoverColor: #f5465d;
  --liveBtnbColor: #24b2fa;
  --liveBtnbColorHover: #60c0f0;
  --codeBtnColor: #41c47a;
  --codeBtnColorHover: #5ddf95;
}

/*? ----- GLOBAL -----*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}
/* html {
  scroll-behavior: smooth;
} */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/*? ----- NAVBAR -----*/
nav {
  background-color: var(--mainColor);
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container {
  padding: 1rem;
  display: flex;
  align-items: center;
}
.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
.toggle li {
  cursor: pointer;
}

.nav-container ul li a {
  color: var(--secondaryColor);
  margin: 2rem;
  text-decoration: none;
}
.nav-container ul li a:hover,
.social a:hover {
  color: var(--hoverColor);
  text-decoration: underline;
}
.placeholder {
  margin-right: auto;
  visibility: hidden;
}
.nav-burger {
  width: 100%;
  text-align: right;
  color: var(--secondaryColor);
  display: none;
}
#resume {
  border: 3px solid var(--secondaryColor);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: var(--mainColor);
  cursor: pointer;
  margin-left: auto;
  outline: none;
}
#resume a {
  color: var(--secondaryColor);
}
#resume:hover,
#resume:hover a {
  color: var(--hoverColor);
  border-color: var(--hoverColor);
}
/*? ----- SHOWCASE -----*/
#showcase {
  background-color: var(--secondaryColor);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}
.triangle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -100;
  width: 0;
  height: 0;
  border-top: 100vh solid var(--bgColor);
  border-left: 100vw solid transparent;
}
.main-wrapper {
  padding: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
}
.social {
  text-align: center;
  background-color: var(--bgColor);
  box-shadow: inset 0px 0px 11px 0px rgba(255, 255, 255, 0.66);
  border-radius: 5px;
  padding: 2rem;
  margin-left: 2rem;
}
.social a,
.social p {
  color: var(--secondaryColor);
  margin: 1rem;
}

.intro {
  box-shadow: inset 0px 0px 11px 0px rgba(0, 0, 0, 0.66);
  border-radius: 5px;
  padding: 2rem;
  margin-right: 2rem;
  color: var(--bgColor);
  background-color: #eee;
}
.intro h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

/*? ----- PROJECTS -----*/
#projects {
  margin-top: 100vh;
  background-color: #fff;
}
#projects h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}
.projects-wrapper {
  display: grid;
  row-gap: 1rem;
  margin: 1rem;
}
.project {
  background-color: var(--secondaryColor);
  padding: 1rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
.project h3 {
  margin-bottom: 1rem;
}
.img-wrapper {
  max-width: 350px;
  text-align: center;
}
.img-wrapper img {
  width: 100%;
}
.img-wrapper h2 {
  margin-bottom: 0.5rem;
}
.projects-list {
  list-style-position: inside;
}
/*? TAGS */
.tag {
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  margin-bottom: 0.5rem;
}
.html-tag {
  background: linear-gradient(to right, #e34c26 25%, #f06529);
}
.css-tag {
  background: linear-gradient(to right, #264de4 25%, #2965f1);
}
.js-tag {
  background: #f0db4f;
  color: #000;
}
.api-tag {
  background: #45c541;
  color: #000;
}
.bootstrap-tag {
  background: #7952b3;
  color: #fff;
}
.react-tag {
  background-color: #282c34;
  color: #61dafb;
  border: 1px solid #61dafb;
}
.git-tag {
  background: #24292e;
  color: #fff;
  border: 1px solid #fff;
}
.responsive-tag {
  background-color: #f75b5c;
  border: 1px solid #fff;
}
.oop-tag {
  background-color: #f7ed5b;
  border: 1px solid #000;
  color: #000;
}
.seo-tag {
  background-color: #317bb4;
}
.live-btn,
.code-btn {
  margin: 0.5rem 0.5rem 0 0.5rem;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--secondaryColor);
}
.live-btn {
  background-color: var(--liveBtnbColor);
}
.code-btn {
  background-color: var(--codeBtnColor);
}
.live-btn:hover {
  background-color: var(--liveBtnbColorHover);
}
.code-btn:hover {
  background-color: var(--codeBtnColorHover);
}

/*? ----- ABOUT -----*/
#about {
  margin-top: 1rem;
  padding: 4rem 0;
  background-color: var(--bgColor);
  color: var(--secondaryColor);
  text-align: center;
}
.about-wrapper {
  display: flex;
  align-items: center;
}
.about-container {
  flex: 1;
}
.about-wrapper h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.about-text p {
  font-weight: 300;
  margin: 0.5rem;
}
.skills {
  margin-bottom: 2rem;
}
.skills h3 {
  margin: 0.5rem;
}
.contacts {
  flex: 1;
  color: var(--bgColor);
}
.contacts h3 {
  margin: 0.5rem;
  padding: 1rem;
}
.contacts h3:not(:first-child) {
  border-top: 1px solid var(--bgColor);
}
.contacts-wrapper {
  width: fit-content;
  margin: auto;
  background-color: var(--secondaryColor);
  padding: 2rem;
  border-radius: 25px;
}

.contacts-wrapper a {
  color: var(--liveBtnbColor);
  margin: 1rem;
}
.contacts-wrapper a:hover {
  color: var(--hoverColor);
}

/*? ----- MEDIA -----*/
@media (max-width: 1080px) {
  .live-btn,
  .code-btn {
    margin: 0.5rem 0 0 0;
    font-size: 16px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

@media (max-width: 985px) {
  * {
    font-size: 18px;
  }
  .main-wrapper {
    flex-direction: column;
  }
  .intro,
  .social {
    max-width: 70%;
    margin: 2.5rem auto;
  }
}
@media (max-width: 768px) {
  * {
    font-size: 16px;
  }
  .nav-burger {
    display: block;
    padding: 1rem;
  }
  .nav-container {
    flex-direction: column;
    padding: 0;
  }
  .toggle {
    width: 100%;
    flex-direction: column;
    display: none;
    text-align: center;
  }
  .toggle li {
    margin-bottom: 1rem;
  }
  .placeholder {
    display: none;
  }
  #resume {
    margin: auto;
  }
  .active {
    display: block;
  }

  .project {
    grid-template-columns: 1fr 1fr;
  }
  .description {
    grid-column: 1/3;
    text-align: center;
  }
  .about-wrapper {
    flex-direction: column;
  }
  .contacts {
    margin-top: 1rem;
  }
}
@media (max-width: 580px) {
  .intro,
  .social {
    max-width: 90%;
  }
  .project {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .img-wrapper {
    margin: auto;
  }
  .description {
    grid-column: 1;
  }
}
