:root {
  --linkColor: #00abed;
  --linkColorHover: #ff644a;
  --mainColor: #152028;
  --secondaryBgColor: #164d56;
  --navbarColor: #192734;
  --navbarBgHoverColor: #1a7391;
  --mainTextColor: #eee;
  --secondaryTextColor: #eee;
}
