:root {
  --linkColor: #00abed;
  --linkColorHover: #ff644a;
  --mainColor: #fff;
  --secondaryBgColor: #868686;
  --navbarColor: #3c3c3c;
  --navbarBgHoverColor: #1a7391;
  --mainTextColor: #000;
  --secondaryTextColor: #eee;
}
