:root {
  --bgColor: linear-gradient(to top, #34bd18, #a2cfba, #1e87de);

  --quoteBgColor: linear-gradient(217deg, #1e87de, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #3af516, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #f53abb, rgba(0, 0, 255, 0) 70.71%);

  --circleBgColor: linear-gradient(to top, #f53abb, #3af516);
  --secondaryCircleBgColor: linear-gradient(to left bottom, #f53abb, #3af516);
  --iconBgColor: linear-gradient(to left bottom, #1e87de, #3af516);
  --mainBgColor: linear-gradient(
    to right bottom,
    rgb(255, 255, 255, 0.4),
    rgb(255, 255, 255, 0.1)
  );
  --dashBgColor: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.3),
    rgb(255, 255, 255, 0.4)
  );
  --borderColor: rgba(255, 255, 255, 0.5);
  --mainTextColor: rgb(58, 81, 125, 0.9);
  --cardBg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.9)
  );
  --secondaryText: #5bcab6;
}
