@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root {
  --bgColor: linear-gradient(to right top, #6596f6, #65dfc9);

  --quoteBgColor: linear-gradient(217deg, #6596f6, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #65dfc9, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #45f8c0, rgba(0, 0, 255, 0) 70.71%);

  --circleBgColor: linear-gradient(to top, #297fd9, #65dfc9);
  --secondaryCircleBgColor: linear-gradient(to left bottom, #297fd9, #65dfc9);
  --mainBgColor: linear-gradient(
    to right bottom,
    rgb(255, 255, 255, 0.4),
    rgb(255, 255, 255, 0.1)
  );
  --dashBgColor: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.3),
    rgb(255, 255, 255, 0.4)
  );
  --borderColor: rgba(255, 255, 255, 0.5);
  --mainTextColor: rgb(58, 81, 125, 0.9);
  --cardBg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.9)
  );
}
/*? GLOBAL */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: var(--bgColor);
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
}
* i {
  background: var(--secondaryCircleBgColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/*? Background*/

.bg-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--circleBgColor);
  margin-left: 4rem;
  z-index: -2;
  height: 580px;
  width: 580px;
  border-radius: 50%;
  filter: blur(1.5rem);
  -webkit-filter: blur(2rem);
  -moz-filter: blur(2rem);
  -o-filter: blur(2rem);
  -ms-filter: blur(2rem);
}
.secondary-bg-circle {
  position: absolute;
  top: 0;
  right: 0;
  height: 580px;
  width: 580px;
  z-index: -1;
  background: var(--secondaryCircleBgColor);
  border-radius: 50%;
  filter: blur(100px);
  -webkit-filter: blur(2rem);
  -moz-filter: blur(2rem);
  -o-filter: blur(2rem);
  -ms-filter: blur(2rem);
}

/*? BUBBLES */
.bubble-1 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 300px;
  height: 300px;
  background: var(--mainBgColor);
  opacity: 60%;
  border-radius: 50%;
  backdrop-filter: blur(2rem);
}
.bubble-2 {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 300px;
  height: 300px;
  background: var(--mainBgColor);
  opacity: 60%;
  border-radius: 50%;
  backdrop-filter: blur(2rem);
}
/*? MAIN */

.container {
  display: flex;
  max-width: 1200px;
  max-height: 780px;
  background: var(--mainBgColor);
  border: 3px solid var(--borderColor);
  border-radius: 30px;
  backdrop-filter: blur(0.5rem);
  color: var(--mainTextColor);
  margin: 1rem;
  overflow: hidden;
}

/*? DASH */
.dashboard {
  min-width: 30%;
  height: 100%;
  background: var(--dashBgColor);
  border-radius: 30px 0 0 30px;
}
.dash-container {
  text-align: center;
  padding: 2rem;
}
.dash-container h2 {
  margin-bottom: 0;
}
.dash-container p {
  margin-top: 0;
}

.img-container {
  background: var(--borderColor) url(1../img/IMG_20210113_112400.jpg) no-repeat
    center/cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
}
.book-number {
  background: var(--secondaryCircleBgColor);
  color: #fff;
  font-weight: 500;
  border-radius: 15px;
  padding: 0 5px;
}
.name {
  font-weight: 500;
}
.menu-container ul {
  list-style-type: none;
  padding: 0;
  width: fit-content;
  margin: 1rem auto;
}
.menu-container ul li {
  line-height: 2rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}
.active-menu,
.menu-container ul li:hover {
  background: var(--mainBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 25px;
}
.menu-container ul li i {
  font-size: 2rem;
  margin-right: 1.8rem;
}

.skills {
  background: var(--quoteBgColor);
  margin: 0;
  padding: 1rem 1rem;
  border-radius: 25px;
  -moz-box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
}
.skills h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.skills p {
  font-size: 0.8rem;
  margin: 0;
}

/*? CONTENT */
.content-wrapper {
  width: 70%;
  padding: 4rem;
  display: grid;
  place-items: center;
}
.content-container {
  margin: auto;
}
.main-header {
  margin-right: 3rem;
  margin-left: 3rem;
}
.main-header {
  font-weight: 500;
}
/*? MAIN-PAGE */
.main-wrapper {
  width: 680px;
  height: 585px;
  background: var(--dashBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro h1 {
  margin-bottom: 2rem;
}
.social {
  margin: 2rem 0;
}
.social i {
  margin: 1rem;
}
/*? CARD */
.card {
  border-radius: 30px;
  background: var(--cardBg);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 33px);
  grid-column-gap: 10px;
  margin: 3rem;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 5px 5px 20px -1px rgba(0, 0, 0, 0.15);
  box-shadow: 5px 5px 20px -1px rgba(0, 0, 0, 0.15);
  justify-content: center;
}
.card-img {
  height: 99px;
  width: 99px;
  background: var(--quoteBgColor);
  border-radius: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: center;
  display: grid;
  place-items: center;
}
.card-img i {
  color: #fff;
}
.img-1 {
  background: url(https://source.unsplash.com/EaB4Ml7C7fE) no-repeat
    center/cover;
}
.img-2 {
  background: url(https://source.unsplash.com/m_HRfLhgABo) no-repeat
    center/cover;
}
.img-3 {
  background: url(https://source.unsplash.com/_SgRNwAVNKw) no-repeat
    center/cover;
}
.title {
  font-weight: 500;
  margin: 0;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.techs {
  margin: 0;
  font-weight: 300;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.btn-container {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
}
.info {
  height: 99px;
  width: 99px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  place-items: center;
  font-weight: 300;
  text-align: center;
  pointer-events: none;
}
.info:hover {
  background: var(--quoteBgColor);
}

/*? BUTTONS */
.btn-container {
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}
.btn {
  background: var(--quoteBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 25px;
  padding: 5px 10px;
  cursor: pointer;
  -moz-box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
}
.btn:hover {
  opacity: 0.8;
}
.btn a {
  text-decoration: none;
  color: var(--mainTextColor);
}
.btn-info {
  background: linear-gradient(to right top, #6596f6, #65dfc9);
  border: 1px solid var(--bgColor);
  border-radius: 25px;
  padding: 0.5rem 1rem;
  color: var(--mainTextColor);
  -moz-box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
  background: var(--mainBgColor);
  opacity: 0.6;
  backdrop-filter: blur(2rem);
  height: 99px;
  width: 99px;
  font-size: 1rem;
}

/*? MEDIA */

@media (max-width: 1100px) {
  .content-wrapper {
    padding: 0;
  }
  .skills {
    display: none;
  }
  .card {
    grid-column-gap: 5px;
  }
}

@media (max-width: 950px) {
  .menu-container ul li span {
    display: none;
  }
  .dashboard {
    min-width: 15%;
  }
  .content-wrapper {
    width: 85%;
  }
  .img-container {
    height: 75px;
    width: 75px;
  }
  .name {
    font-size: 1rem;
  }
  .dash-container {
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
  }
  .dash-container p {
    font-size: 0.7rem;
  }
  .menu-container ul li i {
    margin: 0;
  }
  .card {
    margin: 1.5rem;
  }
  .main-header {
    margin-left: 1.5rem;
  }
}
@media (max-width: 740px) {
  * {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  * {
    font-size: 12px;
  }
  .img-container {
    height: 50px;
    width: 50px;
  }
  .view-text {
    display: none;
  }
  .bg-circle,
  .secondary-bg-circle {
    height: 280px;
    width: 280px;
  }
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 33px);
  }

  .progress {
    display: none;
  }
  .info {
    display: none;
  }
}

@media (max-height: 480px) {
  .container {
    overflow-y: scroll;
  }
  .dashboard {
    height: fit-content;
  }
}
@media (max-width: 380px) {
  .dashboard {
    min-width: 20%;
  }
  .content-wrapper {
    width: 80%;
  }
  .techs {
    display: none;
  }
  .btn-code {
    display: none;
  }
}
