@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
:root {
  --bgColor: linear-gradient(to right top, #6596f6, #65dfc9);

  --quoteBgColor: linear-gradient(217deg, #6596f6, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #65dfc9, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #45f8c0, rgba(0, 0, 255, 0) 70.71%);

  --circleBgColor: linear-gradient(to top, #297fd9, #65dfc9);
  --secondaryCircleBgColor: linear-gradient(to left bottom, #297fd9, #65dfc9);
  --iconBgColor: linear-gradient(to left bottom, #297fd9, #65dfc9);
  --mainBgColor: linear-gradient(
    to right bottom,
    rgb(255, 255, 255, 0.4),
    rgb(255, 255, 255, 0.1)
  );
  --dashBgColor: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.3),
    rgb(255, 255, 255, 0.4)
  );
  --borderColor: rgba(255, 255, 255, 0.5);
  --mainTextColor: rgb(58, 81, 125, 0.9);
  --cardBg: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.9)
  );
  --secondaryText: #5bcab6;
  --winter: linear-gradient(217deg, #6596f6, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #65dfc9, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #d7fff2, rgba(0, 0, 255, 0) 70.71%);

  --spring: linear-gradient(217deg, #1e87de, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #a2cfba, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #34bd18, rgba(0, 0, 255, 0) 70.71%);

  --summer: linear-gradient(217deg, #009efe, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #d19b5b, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #f2f536, rgba(0, 0, 255, 0) 70.71%);

  --autumn: linear-gradient(217deg, #f32305, rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, #fef503, rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, #de026a, rgba(0, 0, 255, 0) 70.71%);
}
/*? GLOBAL */

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background: var(--bgColor);
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
}

* i {
  background: var(--iconBgColor);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
a {
  color: var(--mainTextColor);
}
/*? Background*/

.bg-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--circleBgColor);
  margin-left: 4rem;
  z-index: -2;
  height: 580px;
  width: 580px;
  border-radius: 50%;
  filter: blur(1.5rem);
  -webkit-filter: blur(2rem);
  -moz-filter: blur(2rem);
  -o-filter: blur(2rem);
  -ms-filter: blur(2rem);
}
.secondary-bg-circle {
  position: absolute;
  top: 0;
  right: 0;
  height: 580px;
  width: 580px;
  z-index: -1;
  background: var(--secondaryCircleBgColor);
  border-radius: 50%;
  filter: blur(100px);
  -webkit-filter: blur(2rem);
  -moz-filter: blur(2rem);
  -o-filter: blur(2rem);
  -ms-filter: blur(2rem);
}

/*? BUBBLES */
.bubble-1 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 300px;
  height: 300px;
  background: var(--mainBgColor);
  opacity: 60%;
  border-radius: 50%;
  backdrop-filter: blur(2rem);
}
.bubble-2 {
  position: absolute;
  top: 5%;
  right: 10%;
  width: 300px;
  height: 300px;
  background: var(--mainBgColor);
  opacity: 60%;
  border-radius: 50%;
  backdrop-filter: blur(2rem);
}
/*? Themes */
#theme-options-wrapper {
  display: flex;
  justify-content: center;
}
.theme-btn {
  height: 2rem;
  width: 2rem;
  background-color: var(--quoteBgColor);
  border-radius: 50%;
  margin: 5px;
  border: 2px solid var(--borderColor);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}
.theme-btn:hover {
  border-width: 4px;
}
#winter-mode {
  background: var(--winter);
}
#spring-mode {
  background: var(--spring);
}
#summer-mode {
  background: var(--summer);
}
#autumn-mode {
  background: var(--autumn);
}

/*? MAIN */

.container {
  display: flex;
  max-width: 1200px;
  max-height: 780px;
  background: var(--mainBgColor);
  border: 3px solid var(--borderColor);
  border-radius: 30px;
  backdrop-filter: blur(0.5rem);
  color: var(--mainTextColor);
  margin: 1rem;
  overflow: hidden;
}

/*? DASH */
.dashboard {
  min-width: 30%;
  height: 100%;
  background: var(--dashBgColor);
  border-radius: 30px 0 0 30px;
}
.dash-container {
  text-align: center;
  padding: 2rem;
}
.dash-container h2 {
  margin-bottom: 0;
}
.dash-container p {
  margin-top: 0;
}

.img-container {
  background: var(--borderColor) url(../img/profile_pic.jpg) no-repeat
    center/cover;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: auto;
}

.name {
  font-weight: 500;
}
.menu-container ul {
  list-style-type: none;
  padding: 0;
  width: fit-content;
  margin: 1rem auto;
}
.menu-container ul li {
  line-height: 2rem;
  display: flex;
  justify-content: flex-start;
  padding: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}
.menu-container ul li a {
  text-decoration: none;
}
.active-menu,
.menu-container ul li:hover {
  background: var(--mainBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 25px;
}
.menu-container ul li i {
  font-size: 2rem;
  margin-right: 1.8rem;
}

.skills {
  background: var(--quoteBgColor);
  margin: 0;
  padding: 1rem 1rem;
  border-radius: 25px;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
}
.skills h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}
.skills p {
  font-size: 0.8rem;
  margin: 0;
}

/*? CONTENT */
.content {
  transition: transform 1s;
  height: 500px;
}

.content-wrapper {
  width: 70%;
  padding: 4rem;
  display: grid;
  place-items: center;
}
.content-container {
  overflow: hidden;
  margin: 1rem;
  height: 500px;
}
.main-header {
  margin-right: 3rem;
  margin-left: 3rem;
}
.main-header {
  font-weight: 500;
}

/*? MAIN-PAGE */

.wrapper {
  background: var(--dashBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.intro h1 {
  margin-bottom: 2rem;
}
.social {
  margin: 2rem 0;
}
.social i {
  margin: 1rem;
}
.social i:hover {
  opacity: 0.6;
}
/*? CARD */
.card {
  border-radius: 30px;
  background: var(--cardBg);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 33px);
  grid-column-gap: 10px;
  margin: 3rem;
  padding: 1rem 1.5rem;
  box-shadow: 5px 5px 20px -1px rgba(0, 0, 0, 0.15);
  justify-content: center;
}
.card:first-child {
  margin-top: 0;
}
.card-img {
  height: 99px;
  width: 99px;
  background: var(--quoteBgColor);
  border-radius: 15px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: center;
  display: grid;
  place-items: center;
}
.card-img img {
  width: 100%;
}
.card-img i {
  color: #fff;
}
.img-1 {
  background: url(../img/practice-assistant.png) no-repeat center/cover;
}
.img-2 {
  background: url(../img/crypto.png) no-repeat center/cover;
}
.img-3 {
  background: url(../img/memory-card-game.png) no-repeat center/cover;
}
.title {
  font-weight: 500;
  margin: 0;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}
.techs {
  margin: 0;
  font-weight: 300;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}
.description {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  align-items: center;
}
.btn-container {
  height: 99px;
  width: 99px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  place-items: center;
  font-weight: 300;
  text-align: center;
}

/*? BUTTONS */
.btn-container {
  border-radius: 15px;
  display: grid;
}
.btn {
  position: relative;
  background: var(--quoteBgColor);
  border: 1px solid var(--borderColor);
  border-radius: 25px;
  //padding: 5px 10px;
  cursor: pointer;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.5);
  overflow: hidden;
  outline: none;
}
.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(45deg) translateX(100px);
  transition: 0.5s;
}
.btn:hover::before {
  transform: skewX(45deg) translateX(-100px);
}
.btn a {
  text-decoration: none;
  color: var(--mainTextColor);
  display: inline-block;
  padding: 5px;
}
.btn-description {
  color: var(--secondaryText);
  font-size: 1rem;
  font-weight: 500;
  height: fit-content;
  width: fit-content;
  cursor: pointer;
}
.btn-description:hover {
  opacity: 0.6;
}

/*? DETAILS */
.details-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.about-text {
  padding: 1rem;
}
.about-text h3 {
  font-weight: 500;
}
.contacts a {
  color: var(--mainTextColor);
  padding: 0.5rem;
}

/*? MODALS */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  color: var(--mainTextColor);
  background: rgb(255, 255, 255, 0.9);
  padding: 1rem;
  border-radius: 25px;
  font-size: 16px;
  width: 480px;
}
.modal li {
  margin: 0.5rem;
}
.close-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  outline: none;
  border: none;
  background: rgb(255, 255, 255, 0.9);
}
.overlay {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  width: 100vw;
  height: 100vh;
}
.hidden {
  display: none;
}
/*? MEDIA */

@media (max-width: 1100px) {
  .content-wrapper {
    padding: 0;
  }
  .skills {
    display: none;
  }
  .card {
    grid-column-gap: 5px;
  }
}

@media (max-width: 950px) {
  .menu-container ul li span {
    display: none;
  }
  .dashboard {
    min-width: 15%;
  }
  .content-wrapper {
    width: 85%;
  }
  .img-container {
    height: 75px;
    width: 75px;
  }
  .name {
    font-size: 1rem;
  }
  .dash-container {
    margin-top: 2rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    overflow-y: scroll;
  }
  .dash-container p {
    font-size: 0.7rem;
  }
  .menu-container ul li {
    width: fit-content;
    margin: auto;
  }
  .menu-container ul li i {
    margin: 0;
  }
  .card {
    margin: 1.5rem;
  }
  .main-header {
    margin-left: 1.5rem;
  }
}
@media (max-width: 740px) {
  * {
    font-size: 14px;
  }
  .details-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }
  .card {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 33px);
  }
  .btn-container {
    height: 33px;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
  }
  .description {
    display: none;
  }
}
@media (max-width: 580px) {
  * {
    font-size: 12px;
  }
  .img-container {
    height: 50px;
    width: 50px;
  }

  .bg-circle,
  .secondary-bg-circle {
    height: 280px;
    width: 280px;
  }
  .card {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 33px);
  }
  .view-text {
    display: none;
  }
  .techs {
    display: none;
    opacity: 0;
  }
}
@media (max-width: 480px) {
  .btn-code {
    display: none;
  }
  .about-text {
    display: none;
  }
}
@media (max-width: 380px) {
  .dashboard {
    min-width: 20%;
  }
  .content-wrapper {
    width: 80%;
  }

  .wrapper {
    padding: 1rem;
  }
  .content-container {
    margin: 1rem;
  }
  .card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 33px);
    grid-column-gap: 10px;
  }
  .about-text {
    display: none;
  }
}
@media (max-height: 480px) {
  .container {
    overflow-y: scroll;
  }
  .dashboard {
    height: fit-content;
  }
}
